
.card-container{
    cursor:  pointer;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 12px;
    min-width: 250px;
}
textarea{
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
    width: 100%;
}

html{
    scroll-behavior: smooth;
    transition: all ease-in-out 3s;
}